@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
:root{
    --main:orange;
    --bg:#081218;
    --bg-body:#131D28;
}
*{
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
input,button{
    outline: none;
}
.sidebar{
    height: 100%;
    left:0;
    top:0;
    position: fixed;
    background-color: var(--bg);
    width: 250px;
    border-radius: 15px;
}


.brand{
    padding: .5rem 2rem;
    display:flex;
    color : var(--main);
    align-items:center;
    height: 70px;

}
.brand span {
    font-size: 1.8rem;
    margin-right: .5rem;

}
.sidebar-user{
    margin: 3.5rem 0rem;
    text-align: center;
}
.side-img{
    height: 100px;
    width: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    border: 4px solid #3e454d;
    border-radius: 50%;
}
.user{
    text-align: center;
    color: #fff;
    margin-top: 0.5rem; 
}
.user small{
    display: inline;
}
.sidemenu {
    padding: 2rem;
    overflow-y: auto;
}
.sidemenu li{
    
}
.sidemenu a{
    color: #fff;
    font-size: .85rem;
    display: flex;
    align-items: center;
    padding: 5px;
}
.sidemenu a span:{
    font-size: 1.3rem;
    padding: 0rem .6rem;
}
.sidemenu a.active{
    background: var(--main);
    color: #fff;
    border-radius: 5px;
    height: 45px;
    
}
.main-content{
   margin-left:250px;
   min-height: 100vh;
   background: var(--bg-body);
   padding: .5rem 1rem;
   border-radius: 15px;
}
header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg); 
    right:.5rem;
    top:1rem;    
}
.menu-toggle{
    height: 45px;
    width: 45px;
    background: var(--main);
    color: #fff;
    display: grid;
    place-items: center;
    border-radius: 5px;

}
.search {
    display: flex;
    width: 400px;
    border-radius: 30px;
    overflow-x: hidden;
    border: 3px solid #3e454d;
    align-items: center;

}
.search span{
    font-size: 1.3rem;
    color:#fff;
    padding-left:1rem ;
}
.search input{
    flex: 1;
    height: 45px;
    border: none;
    background: transparent;
    color: #fff;  

}
.head-icons span {
    font-size: 1.5rem;
    margin-left: 3rem;
    color: #fff;

}





main{
    margin-top: calc(70px + .5rem);
    padding: 1rem 0rem;
}
.cards{
    display:grid;
    grid-template-columns: repeat(3,3fr);
    grid-gap: 3rem;
    
}
.card{
    background: var(--bg);
    height: 250px;
    display: grid;
    place-items: center;
    border-radius: 15px;
}
.card-icon{
    text-align: center;
}
.card-icon span{
    height: 55px;
    width:55px;
    color:#fff;
    font-size: 2.5rem;
    border-radius: 50%;
    place-items: center;
}
.follow span{
    color: #f2b100;
    background: ghostwhite;
}
.likes span{
    color: #f8130b;
    background: ghostwhite;
}
.comments span{
    color: #f2b100;
    background: ghostwhite;
}
.card-info{
    text-align: center;
    margin-top:.6rem;
}
.card-info h2{
    font-size: 1.5rem;
    color:#efefef;

}
.card-info small {
    display: inline-block;
    color: var(--main);
    font-weight:500;
}






